.hrisui_text_field
{
	background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 6px;
    box-shadow: inherit;
    box-sizing: border-box;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: inherit;
    outline: medium none;
    padding: 10px 12px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    margin-right: -15px;
    width: 330px;
    background-color: #fff;
} 
 *::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.user-id-section {
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
}
.login-container {
    max-width: 330px !important;
}
* {
    box-sizing: border-box;
}
.row::before, .row::after {
    content: " ";
    display: table;
}

.login-fields-container .field-separator {
    background-color: rgba(0, 0, 0, 0.3);
    height: 1px;
    left: 1px;
    z-index: 1;
}
.login-container-title {
    letter-spacing: -0.11px;
    margin: 15px auto;
    max-width: 380px;
    font-size: 24px;
    font-weight: 200;
}
.login-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
	float: left;
	padding-right: 10px;
	 margin-left: -16px !important;
}
